<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <style>
         pre {
            overflow-x: auto;
            white-space: pre-wrap;
            white-space: -moz-pre-wrap;
            white-space: -pre-wrap;
            white-space: -o-pre-wrap;
            word-wrap: break-word;
         }
     </style>
    <title>Cluster {{ cluster.label }}</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <h1>{{ cluster.label }} ( {{ cluster.type }} )</h1>
                    <div>
                        <b>URI:</b> {{ cluster.uri }}
                        {% if 'Entity' in cluster.prototype.type %}
                            (<a href="/cluster/entities/debug?cluster={{ cluster.uri }}" target="_blank">Debug</a>)
                        {% endif %}
                    </div>
                    <div><b>Size:</b> {{ cluster.size }}</div>
                    <div><b>Label:</b> {{ cluster.label }}</div>
                    <div><b>Type:</b> {{ cluster.prototype.type }}</div>
                    <div>
                        <b>Targets:</b>
                        <ul>
                        {% for target, count in cluster.targets %}
                          <li>{{ target }} ({{ count }})</li>
                        {% endfor %}
                        </ul>
                        {% if target_limit and cluster.targetsSize > target_limit %}
                            <a href="{{ cluster.href }}?image={{ show_image }}&limit={{ show_limit }}&targetLimit=false">Show all targets</a>
                        {% endif %}
                    </div>
                    <div>
                        <b>QNodes:</b>
                        <ul>
                        {% for qnode, count in cluster.qnodes %}
                            <li><a href="{{ cluster.qnodesURL[qnode] }}">{{ qnode }}</a> ({{ count }})</li>
                        {% endfor %}
                        </ul>
                    </div>
                    {% if 'Entity' in cluster.prototype.type  %}
                        <div><b>Groundtruth:</b>
                        {% if cluster.groundtruth %}
                            <a href="/cluster/entities/gt?e={{ cluster.uri }}" target="_blank">Details</a>
                            <ul>
                                <li>Hit: {{ cluster.groundtruth.hit_count }}</li>
                                <li>Miss: {{ cluster.groundtruth.miss_count }}</li>
                                <li>Missing: {{ cluster.groundtruth.missing_count }}</li>
                            </ul>
                        {% else %}
                            None
                        {% endif %}
                        </div>
                    {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {% if show_image %}
                <div>
                    <a href="/viz/{{ cluster.img }}"> Open Graph in a Tab </a>
                    <iframe src="/viz/{{ cluster.img }}" height="500px" width="100%"></iframe>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h2>Members</h2>
                <ol>
                {# Only show limit numbers with a show all button #}
                {% for member in cluster.members %}
                    {% if not show_limit or loop.index <= show_limit %}
                        {% if "Entity" in cluster.prototype.type and cluster.groundtruth %}
                            {% if str(member.uri) in cluster.groundtruth.members %}
                                <li class="text-success" id="{{ member.uri }}"><b>{{ member.uri }}</b></li>
                            {% else %}
                                <li class="text-danger" id="{{ member.uri }}"><b>{{ member.uri }}</b></li>
                            {% endif %}
                        {% else %}
                            <li id="{{ member.uri }}"><b>{{ member.uri }}</b></li>
                        {% endif %}
                        {% if str(member.uri) in cluster.debug_info.attractives %}
                                <span class="badge badge-pill badge-primary">attractive</span>
                        {% endif %}
                        <div><b>Labels:</b> {{ member.all_labels }}</div>
                        <div><b>Type:</b> {{ member.type }}</div>
                        {% if "Event" in cluster.prototype.type %}
                            <div><b>Roles:</b>
                                <ul>
                                    {% for pred, obj in member.roles %}
                                        <li><b>{{ pred }}</b>:
                                            {{ obj.label }}
                                            ({{ obj.type_text }} in cluster
                                            <a href="{{ obj.cluster.href }}">{{ obj.cluster.label }}</a>)</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% else %}
                            <div><b>Events:</b>
                                <ul>
                                    {% for pred, event in member.events_by_role %}
                                    <li><b>{{ pred }}</b>:
                                        {{ event.label }}
                                        ({{ event.type_text }} in cluster
                                        <a href="{{ event.cluster.href }}">{{ event.cluster.label }}</a>)</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                        {% if member.source %}
                            <div><b>Source:</b>
                                {{ member.source }}
                                <ul>
                                    {% for mention in member.mention %}
                                        <li>{{ mention }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                        {% if member.target %}
                            <div><b>Target:</b> {{ member.target }}</div>
                            {% if member.qid %}
                              <div><b>WD QID:</b> <a href={{ member.qURL }}>{{ member.qid }}</a></div>
                              <div><b>WD Label:</b> {{ member.qLabel }}</div>
                              <div><b>WD Aliases:</b> {{ member.qAliases }}</div>
                            {% endif %}
                        {% endif %}
                        {% if 'Entity' in cluster.prototype.type %}
                            <div><b>Debug:</b>
                                <pre><code>{{ cluster.debug_info.members[str(member.uri)] }}</code></pre>
                            </div>
                        {% endif %}
                        </ul>
                    {% endif %}
                {% endfor %}
                </ol>
                {% if show_limit and cluster.size > show_limit %}
                    <a href="{{ cluster.href }}?image=false&limit=false&targetLimit=false">Show all members</a>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {% if 'Entity' in cluster.prototype.type and cluster.groundtruth %}
                    <p></p><h2>Missing Entities:</h2>
                    {% if cluster.groundtruth.missing_count == 0 %}
                        None
                    {% else %}
                        <ul>
                        {% for m, c in cluster.groundtruth.missing.items() %}
                            <li><a href="{{ c }}#{{ m }}" target="_blank">{{ m }}</a></li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</body>
</html>
