<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cluster {{ cluster.label }}</title>
</head>
<body>
    <h1>{{ cluster.label }} ( {{ cluster.type }} )</h1>
    <ul>
        <li>URI: {{ cluster.uri }}</li>
        <li>Size: {{ cluster.size }}</li>
        <li>Label: {{ cluster.label }}</li>
        <li>Type: {{ cluster.prototype.type }}</li>
        <li>Targets:</li>
        <ul>
        {% for target, count in cluster.targets %}
          <li>{{ target }}: {{ count }}x</li>
        {% endfor %}
        </ul>
        <li>QNodes:
        {% for qnode, count in cluster.qnodes %}
          <a href="{{ cluster.qnodesURL[qnode] }}">{{ qnode }}</a> ({{ count }}) &nbsp;
        {% endfor %}
        {% if target_limit and cluster.targetsSize > target_limit %}
            <a href="{{ cluster.href }}?image={{ show_image }}&limit={{ show_limit }}&targetLimit=false">Show all targets</a>
        {% endif %}

    </ul>
    {% if show_image %}
    <a href="/viz/{{ cluster.img }}"> Open Graph in a Tab </a>
    <iframe src="/viz/{{ cluster.img }}" height="500px" width="100%"></iframe>
    {% endif %}
    <h2>Members</h2>
    <ol>
    {# Only show limit numbers with a show all button #}
    {% for member in cluster.members %}
        {% if not show_limit or loop.index <= show_limit %}
            <li>{{ member.uri }}</li>
            <ul>
                <li>Label: {{ member.label }}</li>
                <li>Other Strings: {{ member.all_labels }}</li>
                <li>Type: {{ member.type }}</li>
            {% if "Event" in cluster.prototype.type %}
                <li>Roles:
                    <ul>
                        {% for pred, obj in member.roles %}
                            <li><b>{{ pred }}</b>:
                                {{ obj.label }}
                                ({{ obj.type_text }} in cluster
                                <a href="{{ obj.cluster.href }}">{{ obj.cluster.label }}</a>)</li>
                        {% endfor %}
                    </ul>
                </li>
            {% else %}
                <li>Events:
                    <ul>
                        {% for pred, event in member.events_by_role %}
                        <li><b>{{ pred }}</b>:
                            {{ event.label }}
                            ({{ event.type_text }} in cluster
                            <a href="{{ event.cluster.href }}">{{ event.cluster.label }}</a>)</li>
                        {% endfor %}
                    </ul>
                </li>
            {% endif %}
            {% if member.source %}
                <li>Source:
                    {{ member.source }}
                    <ul>
                        {% for mention in member.mention %}
                            <li>{{ mention }}</li>
                        {% endfor %}
                    </ul>
                </li>
            {% endif %}
            {% if member.target %}
                <li>Target: {{ member.target }}</li>
                {% if member.qid %}
                  <li>WD QID: <a href={{ member.qURL }}>{{ member.qid }}</a></li>
                  <li>WD Label: {{ member.qLabel }}</li>
                  <li>WD Aliases: {{ member.qAliases }}</li>
                {% endif %}
            {% endif %}
            </ul>
        {% endif %}
    {% endfor %}
    {% if show_limit and cluster.size > show_limit %}
        <a href="{{ cluster.href }}?image=false&limit=false&targetLimit=false">Show all members</a>
    {% endif %}
    </ol>
</body>
</html>
