<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <title>Groundtruth for {{ cluster.uri }}</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <h3>Clustering performance</h3>
                <h4>{{ cluster.uri }}</h4>
            </div>
        </div>
        <div class="row">
            <div class="col">

                <div class="accordion" id="myaccordion">
                    <div class="card">
                        <div class="card-header" id="headingHit">
                            <h2 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseHit" aria-expanded="true" aria-controls="collapseHit">
                                <h3>Hit ({{ cluster.groundtruth.hit_count }})</h3>
                            </button>
                            </h2>
                        </div>

                        <div id="collapseHit" class="collapse" aria-labelledby="headingHit" data-parent="#myaccordion">
                            <div class="card-body">
                                <ol>
                                {% for member in cluster.members %}
                                    {% if str(member.uri) in cluster.groundtruth.hit %}
                                        <li><b>{{ member.uri }}</b></li>
                                        <div><b>Label:</b> {{ member.label }}</div>
                                        <div><b>Other Strings:</b> {{ member.all_labels }}</div>
                                        <div><b>Type:</b> {{ member.type }}</div>
                                        {% if "Event" in cluster.prototype.type %}
                                            <div><b>Roles:</b>
                                                <ul>
                                                    {% for pred, obj in member.roles %}
                                                        <li><b>{{ pred }}</b>:
                                                            {{ obj.label }}
                                                            ({{ obj.type_text }} in cluster
                                                            <a href="{{ url_prefix }}{{ obj.cluster.href }}">{{ obj.cluster.label }}</a>)</li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        {% else %}
                                            <div><b>Events:</b>
                                                <ul>
                                                    {% for pred, event in member.events_by_role %}
                                                    <li><b>{{ pred }}</b>:
                                                        {{ event.label }}
                                                        ({{ event.type_text }} in cluster
                                                        <a href="{{ url_prefix }}{{ event.cluster.href }}">{{ event.cluster.label }}</a>)</li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        {% endif %}
                                        {% if member.source %}
                                            <div><b>Source:</b>
                                                {{ member.source }}
                                                <ul>
                                                    {% for mention in member.mention %}
                                                        <li>{{ mention }}</li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        {% endif %}
                                        {% if member.target %}
                                            <div><b>Target:</b> {{ member.target }}</div>
                                            {% if member.qid %}
                                              <div><b>WD QID:</b> <a href={{ member.qURL }}>{{ member.qid }}</a></div>
                                              <div><b>WD Label:</b> {{ member.qLabel }}</div>
                                              <div><b>WD Aliases:</b> {{ member.qAliases }}</div>
                                            {% endif %}
                                        {% endif %}
                                        </ul>
                                    {% endif %}
                                {% endfor %}
                                </ol>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" id="headingMiss">
                            <h2 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseMiss" aria-expanded="true" aria-controls="collapseMiss">
                                <h3>Miss ({{ cluster.groundtruth.miss_count }})</h3>
                            </button>
                            </h2>
                        </div>
                        <div id="collapseMiss" class="collapse" aria-labelledby="headingMiss" data-parent="#myaccordion">
                            <div class="card-body">
                                <ol>
                                {% for member in cluster.members %}
                                    {% if str(member.uri) in cluster.groundtruth.miss %}
                                        <li><string>{{ member.uri }}</string></li>
                                        <div><b>Label:</b> {{ member.label }}</div>
                                        <div><b>Other Strings:</b> {{ member.all_labels }}</div>
                                        <div><b>Type:</b> {{ member.type }}</div>
                                        {% if "Event" in cluster.prototype.type %}
                                            <div><b>Roles:</b>
                                                <ul>
                                                    {% for pred, obj in member.roles %}
                                                        <li><b>{{ pred }}</b>:
                                                            {{ obj.label }}
                                                            ({{ obj.type_text }} in cluster
                                                            <a href="{{ url_prefix }}{{ obj.cluster.href }}">{{ obj.cluster.label }}</a>)</li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        {% else %}
                                            <div><b>Events:</b>
                                                <ul>
                                                    {% for pred, event in member.events_by_role %}
                                                    <li><b>{{ pred }}</b>:
                                                        {{ event.label }}
                                                        ({{ event.type_text }} in cluster
                                                        <a href="{{ url_prefix }}{{ event.cluster.href }}">{{ event.cluster.label }}</a>)</li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        {% endif %}
                                        {% if member.source %}
                                            <div><b>Source:</b>
                                                {{ member.source }}
                                                <ul>
                                                    {% for mention in member.mention %}
                                                        <li>{{ mention }}</li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        {% endif %}
                                        {% if member.target %}
                                            <div><b>Target:</b> {{ member.target }}</div>
                                            {% if member.qid %}
                                              <div><b>WD QID:</b> <a href={{ member.qURL }}>{{ member.qid }}</a></div>
                                              <div><b>WD Label:</b> {{ member.qLabel }}</div>
                                              <div><b>WD Aliases:</b> {{ member.qAliases }}</div>
                                            {% endif %}
                                        {% endif %}
                                        </ul>
                                    {% endif %}
                                {% endfor %}
                                </ol>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" id="headingMissing">
                            <h2 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseMissing" aria-expanded="true" aria-controls="collapseMissing">
                                <h3>Missing ({{ cluster.groundtruth.missing_count }})</h3>
                            </button>
                            </h2>
                        </div>
                        <div id="collapseMissing" class="collapse" aria-labelledby="headingMissing" data-parent="#myaccordion">
                            <div class="card-body">
                                <ul>
                                {% for m, c in cluster.groundtruth.missing.items() %}
                                    <li><a href="{{ url_prefix }}{{ c }}#{{ m }}" target="_blank">{{ m }}</a></li>
                                {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>