<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Choose Repository</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <h2>Select Repository</h2>
                {% for repo, graphs in repos.items() %}
                <a href="{{ url_prefix }}/repo/{{ repo }}">{{ repo }}</a>
                <ul>
                    {% for graph in graphs %}
                    <li><a href="{{ url_prefix }}/repo/{{ repo }}?g={{ graph }}">{{ graph }}</a></li>
                    {% endfor %}
                </ul>
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h3>Admin</h3>
                <a href="cluster/import-debugger">Import debug file for clustering</a>
            </div>
        </div>
    </div>
</body>
</html>