<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index for {{ name }}</title>
</head>
<body>
{% if entities or events %}
<h1>{{ name }} Clusters Top10</h1>
    {% if entities %}
    <h2>Entities</h2>
        {% for cluster in entities %}
            <li>{{ cluster.label }} [{{ cluster.count }}] (<a href="{{ cluster.href }}">{{ cluster.uri }}</a>)</li>
        {% endfor %}
    {% endif %}
    {% if events %}
    <h2>Events</h2>
        {% for cluster in events %}
            <li>{{ cluster.label }} [{{ cluster.count }}] (<a href="{{ cluster.href }}">{{ cluster.uri }}</a>)</li>
        {% endfor %}
    {% endif %}
{% endif %}
</body>
</html>
