<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>List for {% if type_ == "entity" %} entities {% else %} events {% endif %}</title>
</head>
<body>
    <div class="container-fluid">
        <h1>{% if type_ == "entity" %} Entity list {% else %} Event list {% endif %}</h1>
            {% if type_ == "event" %}
                {% if graph %}
                    <p>Sort by <a href="/list/{{ type_ }}/{{ repo }}?g={{ graph }}&sortby=type">Event Type</a> | <a href="/list/{{ type_ }}/{{ repo }}?g={{ graph }}&sortby=size">Cluster Size</a>
                {% else %}
                    <p>Sort by <a href="/list/{{ type_ }}/{{ repo }}?sortby=type">Event Type</a> | <a href="/list/{{ type_ }}/{{ repo }}?sortby=size">Cluster Size</a>
                {% endif %}
            {% endif %}
            <ul>
            {% for cluster in clusters %}
                <li>{{ cluster.label }} [{{ cluster.count }}] (<a href="{{ cluster.href }}">{{ cluster.uri }}</a>)</li>
            {% endfor %}
            </ul>
        {% if offset > limit %}
            {% if graph %}
                <a href="/list/{{ type_ }}/{{ repo }}?g={{ graph }}&limit={{ limit }}&offset={{ offset-limit }}&sortby={{ sortby }}">Prev page</a>
            {% else %}
                <a href="/list/{{ type_ }}/{{ repo }}?limit={{ limit }}&offset={{ offset-limit }}&sortby={{ sortby }}">Prev page</a>
            {% endif %}
        {% elif offset > 0 %}
            {% if graph %}
                <a href="/list/{{ type_ }}/{{ repo }}?g={{ graph }}&limit={{ limit }}&sortby={{ sortby }}">Prev page</a>
            {% else %}
                <a href="/list/{{ type_ }}/{{ repo }}?limit={{ limit }}&sortby={{ sortby }}">Prev page</a>
            {% endif %}
        {% endif %}
        {% if graph %}
            <a href="/list/{{ type_ }}/{{ repo }}?g={{ graph }}&limit={{ limit }}&offset={{ offset+limit }}&sortby={{ sortby }}">Next page</a>
        {% else %}
            <a href="/list/{{ type_ }}/{{ repo }}?limit={{ limit }}&offset={{ offset+limit }}&sortby={{ sortby }}">Next page</a>
        {% endif %}
    </div>
</body>
</html>
